@model NeptunoMVC01.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ciudad.NombreCiudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad.NombreCiudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais.NombrePais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais.NombrePais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodPostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodPostal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClienteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
